{
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "printWidth": 115,
  "jsxSingleQuote": true,
  "bracketSpacing": false,
  "requirePragma": false,
  "insertPragma": false
}